{% extends 'base.html' %}
  
{% block content %} 
<br> <br><br>
<div class="container">
<div class="row">
<div class="col">
  <h3>About Grab It!</h3><br>
  <p>Grab It! is a Ecommerce website that serves you with the best products available in India from various shop keepers.</p>
  <p>It allows you to buys products at cheapest cost as comapred to any other Ecommerce website in India.</p>
  <p>If you are a shop keeper and want to sell your products online with us than Email us at developer@grabit.com.</p>
  <p>You will find great deals on various products specially on festival weekends like Diwali, Holi etc. so that you can celebrate with us.</p>
</div>
</div>
<br>
<div class="row">
<div class="col">
  <h3>About Owner</h3><br>
  <p>Started in 2018 Grab It! is owned by Dheeraj Choudhary, developer and freelancer to provide you with great deals on various products.</p>
</div>
</div>
</div>
{% endblock %}